# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://black-database:root1234@cluster0.apv5lso.mongodb.net/?appName=Cluster0

# CORS Configuration
CORS_ORIGIN=http://localhost:5173
